#mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito', sans-serif;
    color: black;
}


.headerelements{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 30%;
}

#menuelements{
    font-size: large;
    text-align: left;
    padding-top: 9px;
}

a{
    color: #1d04fad8;
}

a:link{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.applybutton {
    font-size: large;
    padding: 8px 18px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: white; 
    color:#1d04fad8;
    border: 2px solid #0084ff80;  
    border-radius: 10px;
    

}
.applybutton:hover {
    background-image: linear-gradient(to right, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849));
    color: white;
    box-shadow: 0px 1px 0px 0px rgba(8, 142, 252, 0.459);
    border: 2px solid white;  
}



.mainheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.courses-section{
    text-align: center;
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    /* background-color: #509cff71; */
}

.courses-section-banner{
    margin: 10px;
    padding: 10px;
}


.courses-list-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin: 0% 12%;
    font-family: 'Nunito', sans-serif;
    
}

.courses-list{
    border: 2px solid rgba(0, 0, 0, 0.288);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);
    width: 30%;
    padding: 40px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background: white;
}

.courses-list:hover {
    border: 2px solid rgba(0, 0, 0, 0.288);
    width: 30%;
    margin: 40px;
    border-radius: 20px;
    transition-duration: 0.5s;
    box-shadow: 0px 10px 20px 0px inset rgba(26, 25, 25, 0.233);
}

.courses-list-image{
    padding: 10%;
    background-image: linear-gradient(to right, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849));
    border-radius: 20px;
}

.courses-list-image:hover{
    background-image: linear-gradient(to left, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849));
    
}




#footermenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: #ffffff;
  }

  .socialmedia-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 0.8%;
    padding-right: 0.5%;
    width: 10%;
  }

.footerlogo{
    padding-top: 0.8%;
    padding-right: 0.5%;
}

.copyright-section{
    text-align: center;
    width: 40%;
    padding-top: 8px;
    color: rgb(0, 0, 0);
}

a.footer-link{
    color: rgba(32, 18, 231, 0.897);
}

#footer{
    background-color: #3686E5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding: 2%;
}

.footerwhatelse{
    width: 40%;
}

.Whysection {
    /* border: 2px solid black; */
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.whyheading{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid black; */
}

.practicalsection{
    /* border: 2px solid rgba(0, 0, 0, 0.288); */
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);
    padding: 40px;
    /* border-radius: 20px; */
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background: rgb(235, 235, 235);
    text-align: center;
}









