
#mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito', sans-serif;
    color: black;
    /* position: absolute; */
    /* border: 2px solid black; */
    /* width: 195vh; */
    /* background-color: #C4EFF6; */
}


.headerelements{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 40%;
    /* border: 2px solid black; */
    /* background-color: #F7E9A0; */
}

.menuelements{
    font-size: large;
    text-align: left;
    padding-top: 9px;
}

a{
    color: #1d04fad8;
}

.menuelements a:hover{
  /* color: #000000; */
  border-bottom: 3px solid rgba(0, 102, 255, 0.815);
}

a:link{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.applybuttonheader{
  font-size: large;
    padding: 8px 18px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0); 
    color:#1d04fad8;
    border: 2px solid #0084ff80;  
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    /* padding-right: 20px; */
    cursor: pointer;

}

.applybuttonheader:hover{
  background-image: linear-gradient(to right, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849));
  color: white;
  box-shadow: 0px 1px 0px 0px rgba(8, 142, 252, 0.459);
  border: 2px solid white;
}

.applybutton {
    font-size: large;
    padding: 8px 18px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: white; 
    color: black;
    border: 2px solid gray;  
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
}
.applybutton:hover {
    color: white;
    background-color: rgb(63, 63, 63);
    box-shadow: 0px 1px 0px 0px rgba(8, 142, 252, 0.459);
    border: 2px solid white;  
}

.mainarea{
    background-image: url("images/bgTablet.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    height: 750px;
}

.animated-text{
    color: rgb(255, 255, 255);
    font-family: 'Nunito';
    position: absolute;
    top: 80%;
    left: 51%;
    transform: translate(-50%,-50%);
    background: #272727;
    padding: 0 40px;
    height: 60px;
    overflow: hidden;
    /* border: 2px double white; */
  }
  
  .line{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
  }
  
  .line:first-child{
    animation: anim 20s infinite;
  }
  
  @keyframes anim {
    0%{
      margin-top: 0;
    }
    10%{
      margin-top: -60px;
    }
    20%{
      margin-top: -120px;
    }
    30%{
      margin-top: -180px;
    }
    40%{
      margin-top: -240px;
    }
    50%{
      margin-top: -300px;
    }
    60%{
      margin-top: -240px;
    }
    70%{
      margin-top: -180px;
    }
    80%{
      margin-top: -120px;
    }
    90%{
      margin-top: -60px;
    }
    100%{
      margin-top: 0;
    }
  }

.mainAreaTitle{
    position: absolute;
    font-family: 'Nunito', sans-serif;
    /* border: 2px solid black; */
    width: 22%;
    top: 67%;
    left: 40%;
    text-align: center;
    color: #ffffff;
}

.mainAreaPara{
    position: absolute;
    font-family: 'Nunito', sans-serif;
    /* border: 2px solid black; */
    width: 22%;
    top: 83%;
    left: 40%;
    text-align: center;
    color: #ffffff;
}

.Cplus{
    position: absolute;
    top: 55%;
    left: 5%;
    /* transform: rotate(-10deg); */
    /* animation: Cplus 2s linear infinite; */
}

@keyframes Cplus {
    100%{
      transform: translateY(-5px);
    }
    50%{
      transform: translateY(5px);
    }
    0%{
      transform: translateY(-5px);
    }
}

.C{
    position: absolute;
    top: 55%;
    left: 17%;
    /* transform: rotate(10deg); */
}

.html{
    position: absolute;
    top: 56%;
    right: 5%; 
    /* transform: rotate(10deg); */
    /* animation: Cplus 2s linear infinite; */
}

.js{
    position: absolute;
    top: 56%;
    right: 15%;
    /* transform: rotate(10deg); */
    /* animation: Cplus 2s linear infinite; */
}

.python{
    position: absolute;
    top: 56%;
    right: 26%;
    /* transform: rotate(10deg); */
    /* animation: Cplus 2s linear infinite; */
}

.node{
    position: absolute;
    top: 55%;
    left: 28%;
    /* transform: rotate(-10deg); */
    /* animation: Cplus 2s linear infinite; */
}

.Aboutus{
  position: absolute;
  top: 35%;
  left: 5%;
  /* animation: Cplus 2s linear infinite; */
  width: 120px;
  height: 120px;
  border-style: none;
  /* font: x-large; */
  font-size: x-large;
  border-radius: 50%;
  color: white;
  /* background-image: linear-gradient(to right, rgba(49, 30, 214, 0.623), rgba(28, 151, 223, 0.856)); */
  background-color: rgb(94, 94, 230);
  position: absolute;
  animation: Cplus 2s linear infinite;
  /* box-shadow: none; */
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);

}

.Contactus{
  position: absolute;
  top: 35%;
  right: 5%;
  animation: Cplus 2s linear infinite;
  width: 120px;
  height: 120px;
  border-style: none;
  /* font: x-large; */
  font-size: 20px;
  border-radius: 50%;
  color: white;
  /* background-image: linear-gradient(to right, rgba(49, 30, 214, 0.623), rgba(28, 151, 223, 0.856)); */
  background-color: rgb(94, 94, 230);
  position: absolute;
  animation: Cplus 2s linear infinite;
  /* box-shadow: none; */
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);

}

.Intership{
  position: absolute;
  top: 35%;
  right: 24%;
  width: 120px;
  height: 120px;
  border-style: none;
  font-size: x-large;
  border-radius: 50%;
  color: white;
  /* background-image: linear-gradient(to right, rgba(49, 30, 214, 0.623), rgba(28, 151, 223, 0.856)); */
  background-color: rgb(94, 94, 230);
  position: absolute;
  animation: Cplus 2s linear infinite;
  /* box-shadow: none; */
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);

}

.Applynow{
    position: absolute;
    top: 78%;
    right: 13%;
    width: 120px;
    height: 120px;
    border-style: none;
    font-size: x-large;
    border-radius: 50%;
    color: white;
    background-color: rgb(94, 94, 230);
    position: absolute;
    animation: Cplus 2s linear infinite;
    /* box-shadow: none;  */
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);
    /* transition: width ; */

}

/* .Applynow:hover{
  width: 151px;
  height: 15px;
} */

.testimonial{
  width: 120px;
  height: 120px;
  border-style: none;
  font-size: 22px;
  border-radius: 50%;
  color: white;
  background-color: rgb(94, 94, 230);
  position: absolute;
  top: 35%;
  left: 25%;
  animation: Cplus 2s linear infinite;
  /* box-shadow: none; */
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);
  transition: width ;

}

/* .testimonial:hover{
  background-color: blueviolet;
  transform: scale(2);
  width: 125px;
  height: 125px;
  text-align: center;
} */

#mainareaCourses button:hover{
  background-color: blueviolet;
  width: 130px;
  height: 130px;
  text-align: center;
}

#mainareaCourses img:hover{
  transform: scale(2);  
}

.mainheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.courses-section{
    text-align: center;
    /* margin: 20px; */
    width: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: #dbdbdb81;
}

.courses-section-banner{
    /* margin: 20px; */
    /* padding: 20px; */
    /* border: 2px solid black; */
    font-size: large;
    padding-top: 20px;
}


.courses-list-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin: 0% 12%;
    font-family: 'Nunito', sans-serif;
    /* border: 2px solid black; */

    
}

.courses-list{
    border: 2px solid rgba(0, 0, 0, 0.288);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);
    width: 30%;
    padding: 40px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background: white;
}

.courses-list:hover {
    border: 2px solid rgba(0, 0, 0, 0.288);
    width: 30%;
    margin: 40px;
    border-radius: 20px;
    transition-duration: 0.5s;
    box-shadow: 0px 10px 20px 0px inset rgba(26, 25, 25, 0.233);
    background-color: rgb(63, 63, 63);
    color: white;
}

.courses-list-image{
    padding: 10%;
    /* background-image: linear-gradient(to right, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849)); */
    border: 2px solid grey;
    border-radius: 20px;
}

/* .courses-list-image:hover{
    background-image: linear-gradient(to left, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849));
    
} */




#footermenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: #ffffff;
  }

  .socialmedia-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 0.8%;
    padding-right: 0.5%;
    width: 10%;
  }

.footerlogo{
    padding-top: 0.8%;
    padding-right: 0.5%;
}

.copyright-section{
    text-align: center;
    width: 40%;
    padding-top: 8px;
    color: rgb(0, 0, 0);
}

a.footer-link{
    color: rgba(32, 18, 231, 0.897);
}

#footer{
    background-color: #3686E5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding: 2%;
}

.footerwhatelse{
    width: 40%;
}

.Whysection {
    /* border: 2px solid black; */
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.whyheading{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 10px;
    padding-top: 2%;
    /* border: 2px solid black; */
}

.practicalsection{
    /* border: 2px solid rgba(0, 0, 0, 0.288); */
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.233);
    padding: 40px;
    /* border-radius: 20px; */
    font-family: 'Nunito', sans-serif;
    margin: 40px;
    background: rgb(235, 235, 235);
    text-align: center;
}











